<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.disusered.stetho" version="1.0.1">
  <name>Cordova Stetho</name>
  <description>Facebook's Stetho for Cordova</description>
  <license>GPLv2</license>
  <keywords>cordova,stetho,android,debug,devtools,development</keywords>
  <repo>https://github.com/disusered/cordova-stetho</repo>
  <issue>https://github.com/disusered/cordova-stetho/issues</issue>
  <platform name="android">
    <hook src="hooks/gradle.js" type="before_plugin_install" />
    <hook src="hooks/manifest.js" type="before_plugin_install" />
    <hook src="hooks/clean.js" type="before_plugin_uninstall" />
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="CDVStetho">
        <param name="android-package" value="com.disusered.CDVStetho"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/CDVStetho.java" target-dir="src/com/disusered"/>
    <source-file src="libs/commons-cli-1.2.jar" target-dir="libs"/>
    <source-file src="libs/jsr305-2.0.1.jar" target-dir="libs"/>
    <source-file src="libs/stetho-1.0.1.jar" target-dir="libs"/>
    <source-file src="libs/stetho-urlconnection-1.0.1.jar" target-dir="libs"/>
  </platform>
</plugin>
